@model Go_Holiday_2._0.Models.ModelsView.Views.UserInfos


    <div id="EditUserModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <form asp-action="EditProfil">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="LastName" placeholder="Nom" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="FirstName" placeholder="Prénom" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Email" placeholder="Adresse Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Rue" placeholder="Rue" class="form-control" />
                                    <span asp-validation-for="Rue" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Ville" placeholder="Ville" class="form-control" />
                                    <span asp-validation-for="Ville" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Pays" placeholder="Pays" class="form-control" />
                                    <span asp-validation-for="Pays" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Numero" placeholder="Numéro" class="form-control" />
                                    <span asp-validation-for="Numero" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="CodePostal" placeholder="Code postal" class="form-control" />
                                    <span asp-validation-for="CodePostal" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Gsm" placeholder="Gsm" class="form-control" />
                                    <span asp-validation-for="Gsm" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Phone" placeholder="Téléphone fixe" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                
                </div>
                <div class="modal-footer">
                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button">Save</button></div>
            </div>
        </div>
    </div>