<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="margin-bottom:30px;">Commencer votre recherche ici<br></h2>
            <p class="text-center" style="width:500px;margin-bottom:0px;">Pour Commencer votre recherche, cliquez d'abord sur le type de vacances dont vous rêvez.<br></p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">

                <div class="portfolio-laptop-mockup">
                    <div class="screen">
                        <div class="screen-content" style="background-image:url('/data/images/couple.jpg');"></div>
                    </div>
                    <div class="keyboard"></div>
                </div>

                <h3 class="name">Vacances en couples<br></h3>

                <p class="description" style="height:100px;margin-top:15px;margin-bottom:0px;">
                    Lieux de vacances plus orientées vers les promenades en amoureux, les bon plans restaurant et paysage romantique ect...<br>
                </p>
                <a href="SearchAnnounces.html">
                    <span class="badge badge-primary" style="margin-bottom:15px;
                                                            font-size:18px;
                                                            background-color:#ff9b22;
                                                            padding-top:10px;
                                                            padding-bottom:10px;
                                                            padding-right:10px;
                                                            padding-left:10px;">
                        42 Annonces
                    </span>
                </a>
                <hr>

                <div class="pulse animated infinite social">
                    <i class="fa fa-heart" style="font-size:30px;color:#ef6b6b;padding:10px;"></i>
                    <i class="fa fa-heart" style="font-size:35px;color:#ef6b6b;padding:10px;"></i>
                    <i class="fa fa-heart" style="font-size:40px;color:#ef6b6b;padding:10px;"></i>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 item">

                <div class="portfolio-laptop-mockup">
                    <div class="screen">
                        <div class="screen-content" style="background-image:url('/data/images/famille.jpg');"></div>
                    </div>
                    <div class="keyboard"></div>
                </div>

                <h3 class="name">Vacances en familles<br></h3>

                <p class="description" style="height:100px;margin-bottom:0px;">
                    Lieux de vacances orientées pour les vacances en familles avec les banbins, la recherche se base sur les activités faites pour les enfants <br>ect...<br>
                </p>

                <a href="SearchAnnounces.html">
                    <span class="badge badge-primary" style="margin-bottom:15px;font-size:18px;background-color:#ff9b22;padding:10px;">
                        42<strong>&nbsp;Annonces</strong><br>
                    </span>
                </a>

                <hr>
                <div class="pulse animated infinite social">
                    <i class="fa fa-female" style="font-size:40px;color:#ffaeae;padding:10px;"></i>
                    <i class="fa fa-child" style="font-size:35px;color:#008000;padding:10px;padding-right:3px;"></i>
                    <i class="fa fa-child" style="font-size:30px;color:#008000;padding:10px;padding-right:3px;"></i>
                    <i class="fa fa-male" style="font-size:45px;color:#9393fb;padding:10px;"></i>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="portfolio-laptop-mockup">
                    <div class="screen">
                        <div class="screen-content" style="background-image:url('/data/images/aventure.jpg');"></div>
                    </div>
                    <div class="keyboard"></div>
                </div>
                <h3 class="name">Le pleins d'aventures<br></h3>
                <p class="description" style="height:100px;margin-bottom:0px;">
                    Lieux de vacances plus orientées pour les rendonnées, les lieux à visités, une richesse de la régions ect...<br>
                </p>
                <a href="SearchAnnounces.html">
                    <span class="badge badge-primary" style="margin-bottom:15px;font-size:18px;background-color:#ff9b22;padding:10px;">
                        42<strong>&nbsp;Annonces</strong><br>
                    </span>
                </a>
                <hr>
                <div class="pulse animated infinite social">
                    <i class="fa fa-rocket" style="font-size:40px;color:#773838;padding:10px;"></i>
                    <i class="fa fa-anchor" style="font-size:40px;color:#773838;padding:10px;"></i>
                    <i class="fa fa-compass" style="font-size:40px;color:#773838;padding:10px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
