USE [GoHoliday]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[Salt]()
Returns nvarchar(256)
as
begin
	return N'435Pu4921t60uRQ316t3p14315hY57472LW1Pewlc06Tr16P9W1lXY83yvbC13Yo3XSTWqzJy0z6dsc0cZR2dI7NOsP5cNn4Orb731NWvigHfw6xohO1i9F3E5V2tjS0s24NmfVd76X1wcliDq6RdpTU25XRtU2GsrzrOu1FF0GbU15pzCRQBs9aoYC3j68ZzzKYqHF1EapRDwLZAiSNr5OVY10x3iL5bQM97F2iE1uI0NYc3vzGD4uU4Yxbv810'
end