USE [GoHoliday]
GO
/****** Object:  StoredProcedure [dbo].[SP_login_user]    Script Date: 13-05-20 14:20:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_login_user]
	@Password nvarchar(50),
	@Email nvarchar(150)
AS
BEGIN
	SELECT U.UserID, U.LastName, U.FirstName, U.Email
	FROM [Users] AS U
	WHERE [Password] = HASHBYTES('SHA2_512' , dbo.Salt() + @Password + dbo.Salt()) AND Email = @Email AND Active = 'True'
END