@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Est-ce que le user est connecté ?</h2>

<h3>Session</h3>

<h4>Login : @ViewBag.Login</h4>
<h4>Id : @ViewBag.IdUser</h4>
